Load the dataset.

In [7]:
import numpy as np 
import pandas as pd 
import kagglehub
import os

In [8]:
path = kagglehub.dataset_download("neurocipher/heartdisease")
print("Path to dataset files:", path)

Path to dataset files: C:\Users\hoofi\.cache\kagglehub\datasets\neurocipher\heartdisease\versions\1

In [9]:
csvPath = os.path.join(path, "Heart_Disease_Prediction.csv")
df = pd.read_csv(csvPath)

Display its shape.

In [10]:
df.shape

(270, 14)

Preview the first few rows.

In [11]:
df.head()

,Age,Sex,Chest pain type,BP,Cholesterol,FBS over 120,EKG results,Max HR,Exercise angina,ST depression,Slope of ST,Number of vessels fluro,Thallium,Heart Disease
0,70,1,4,130,322,0,2,109,0,2.4,2,3,3,Presence
1,67,0,3,115,564,0,2,160,0,1.6,2,0,7,Absence
2,57,1,2,124,261,0,0,141,0,0.3,1,0,7,Presence
3,64,1,4,128,263,0,0,105,1,0.2,2,1,7,Absence
4,74,0,2,120,269,0,2,121,1,0.2,1,1,3,Absence

Check column names and data types.

In [12]:
df.columns
df.dtypes

Age                          int64
Sex                          int64
Chest pain type              int64
BP                           int64
Cholesterol                  int64
FBS over 120                 int64
EKG results                  int64
Max HR                       int64
Exercise angina              int64
ST depression              float64
Slope of ST                  int64
Number of vessels fluro      int64
Thallium                     int64
Heart Disease               object
dtype: object